body{
    background-color: grey;
    margin: 0;
}

.hero-image {
    background-image: url("images/minecraft_bookshelf.png");
    height: 400px;;
  }

img{
    width: 200px;
    height: auto;
    border: 1px solid blue;
}

#library{
    display: flex;
    flex-wrap: wrap;
}

#library > div{
    flex: 1 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}
